/* styles.css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* ... (otros estilos) */

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 25px auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(29, 21, 21, 0.271);
}

video {
  display: 1px;
  max-width: 100%;
  height: auto;
  margin: 2px auto;
  border-radius: px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 2100%; /* Ajusta el tamaño del video aquí */
}

header {
  text-align: center;
  background-color: #000000;
  color: #837676;
  padding: 20px;
}

h1 {
  font-size: 30px;
  margin: 0;
}

main {
  padding: 20px;
}

li {
  border: 2px solid black;
  margin: 50px;
  padding: 1px;
}

article {
  margin-bottom: 30px;
}

h2 {
  color: #826868;
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}

/* Estilos para el contenido adicional en el aside */
aside {
  background-color: #f2f2f2;
  padding: 20px;
}

/* Estilos para la sección de experiencias */
article h2 {
  margin-bottom: 10px;
}

article li {
  padding-left: 20px;
  position: relative;
}

article li:before {
  content: '\2022';
  position: absolute;
  left: 0;
}

